Source: ros-jazzy-kuka-rsi-driver
Section: misc
Priority: optional
Maintainer: "Aron Svastits" <svastits1@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-python, ros-jazzy-controller-manager-msgs, ros-jazzy-hardware-interface, ros-jazzy-kuka-drivers-core, ros-jazzy-kuka-external-control-sdk, ros-jazzy-kuka-rsi-simulator <!nocheck>, ros-jazzy-launch-testing-ament-cmake <!nocheck>, ros-jazzy-pluginlib, ros-jazzy-ros2lifecycle <!nocheck>, ros-jazzy-std-msgs, ros-jazzy-tinyxml-vendor, ros-jazzy-ros-workspace
Homepage: https://index.ros.org/p/kuka_rsi_driver/#jazzy
Standards-Version: 3.9.2

Package: ros-jazzy-kuka-rsi-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-controller-manager, ros-jazzy-controller-manager-msgs, ros-jazzy-hardware-interface, ros-jazzy-joint-state-broadcaster, ros-jazzy-joint-trajectory-controller, ros-jazzy-kuka-control-mode-handler, ros-jazzy-kuka-drivers-core, ros-jazzy-kuka-event-broadcaster, ros-jazzy-kuka-external-control-sdk, ros-jazzy-kuka-kss-message-handler, ros-jazzy-pluginlib, ros-jazzy-std-msgs, ros-jazzy-tinyxml-vendor, ros-jazzy-ros-workspace
Description: A ROS2 hardware interface for use with KUKA RSI
