Source: ros-humble-kuka-event-broadcaster
Section: misc
Priority: optional
Maintainer: Aron Svastits <svastits1@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-controller-interface, ros-humble-kuka-drivers-core, ros-humble-pluginlib, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-kuka-event-broadcaster
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-controller-interface, ros-humble-kuka-drivers-core, ros-humble-pluginlib, ros-humble-ros-workspace
Description: Broadcaster of hardware events of KUKA robots
